#jumbo {

  height: 460px;
  width: 100%;

  background-image: url(imgs/jumbo.jpg);
  background-size: contain;
  background-repeat: round;

  .download_buy_container {

    @include my_display_flex_center;

    height: 100%;
    width: 100%;

    .download {

      padding: 35px 0;

      margin-left: 300px;

      color: $colorNavbar;

      h1, h3, {

        margin-bottom: 20px;

      }

      h1 {

        font-size: 30px;

      }

      h3 {

        font-size: 25px;

      }
      .download_list {

        list-style-type: none;

        li {

          font-size: 20px;

          margin-bottom: 15px;

          .fas {

            margin-right: 5px;

            color: $colorNavAction;

          }
        }
      }

      .download_button_trial {

        display: flex;

        height: 55px;
        width: 205px;

        padding: 10px;

        cursor: pointer;

        background-color: $bgColorButtonTrial;

        .info {

          width: 82%;

          border-right: 1px solid #fff;

          span {

            margin-bottom: 4px;

          }

        }

        .icon {

          @include my_display_flex_center;

          width: 18%;

          .fa-download {

            font-size: 25px;
          }
        }

      }

    }

    .buy {

      position: relative;

      height: 94%;
      width: 20%;

      margin: 20px 0 0 25px;
      padding: 10px;

      background-color: rgba(0, 0, 0, 0.9);

      .offer_save {

        @include my_display_flex_center;

        height: 33px;
        width: 85px;

        margin-bottom: 10px;
        padding: 5px 10px;

        background-color: $bgColorButtonSave;
        color: #fff;

      }

      .price_icon {

        p {

          font-size: 20px;

          text-decoration: line-through;
          color: $colorNavAction;

        }

        span {

          display: block;

          font-size: 26px;

          color: #fff;

        }

        #download {

          margin-top: 10px;

          font-size: 15px;

          color:$colorNavAction;

        }

        img {

          position: absolute;

          top: 20px;
          right: 10px;

          cursor: pointer;

        }
      }

      .button_buy_now {

        @include my_display_flex_center;

        height: 35px;
        width: 150px;

        margin: 20px 0;
        padding: 5px 10px;

        background-color: $bgColorButton;
        color: #fff;

      }

      .customer_sale {

        height: 110px;
        width: 360px;

        margin-top: 30px;
        padding: 10px;

        cursor: pointer;

        background-color: rgba(255,255,255,.9);

        h4 {

          text-transform: uppercase;
          font-size: 18px;

        }

        p {

          margin: 8px 0;

        }

        p span {

          font-weight: bold;
          color: $bgColorButtonSave;

        }

        a {

          color: $bgColorButton;
          text-decoration: none;
        }


      }

    }
  }
}
