// BACKGROUNDS COLOR
$bgColorNav: #101010;
$bgColorMenu: #E6E6E6;
$bgColorFlexible: #222;
$bgColorLinks: #ececec;
$bgColorCredits: #1e1e1e;
$bgColorButton: #009cff;
$bgColorButtonSave: #CC397F;
$bgColorButtonTrial: #666;

// COLOR TEXT
$colorNavAction: #989898;
$colorNavbar: #fff;
$colorMenu: #555;
$colorLinks: #4d4d4d;
